transformers==4.51.3
datasets==3.5.0
evaluate==0.4.3
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
scikit-learn==1.4.2
pandas==2.2.1
pillow==10.2.0
jupyter==1.0.0
accelerate==0.30.1
tqdm==4.66.2
jiwer==3.0.3